
.restaurantDiv {
	border: 2px solid black;
	margin: 5px;
	background: #FFFF99;
}

.sectionDiv {
	border: 2px solid black;
	margin: 20px;
	background: #FE6249;
}

.sectionInfoDiv {
	background: #FF4500;
}

.subsectionDiv {
	border: 2px solid black;
	margin: 20px;
	background: #FFB347;
}

.dishDiv {
	border: 2px solid black;
	margin: 20px;
	background: #FFA812;
}

textarea {
	width:200px;
	height:100px;
}

img {
	max-width: 100px; 
	max-height:100px; 
}

.chooseImage {
	background: green;
}

#savingDiv {
	visibility: hidden;
	background: gray;
	position: fixed;
    top: 0;
    left: 0;
}

#deletingDiv {
	visibility: hidden;
	background: gray;
	position: fixed;
    top: 0;
    left: 0;
}

li {
	display: inline;
	margin: 20px;
}

div.restaurantDiv.hide {
	display: none;
}